<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to Career Test!</h1>
    <form action="{% url 'submit_answers' %}" method="post">
        {% csrf_token %}
        {% for question in questions %}
            <p>{{ question.text }}</p>
            <select name="answer{{ question.id }}">
                {% for answer in question.answer_set.all %}
                    <option value="{{ answer.id }}">{{ answer.text }}</option>
                {% endfor %}
            </select>
        {% endfor %}
        <button type="submit">Submit Answers</button>
    </form>
    <a href="{% url 'user_list' %}">View User List</a>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} ({{ user.email }})</li>
        {% endfor %}
    </ul>
</body>
</html>